<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/store_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/store_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMain"
        tools:targetApi="31">

        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SMain.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".ui.item.ItemActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SMain.NoActionBar"/>

        <activity android:name=".ui.payment.PaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SMain.NoActionBar"/>

        <activity android:name=".ui.payment.AddCardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SMain.NoActionBar"/>

        <activity android:name=".ui.address.AddAddressActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SMain.NoActionBar"/>
    </application>

</manifest>